services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - 3000:3000
    depends_on:
      - bit
  bit:
    image: sjdonado/bit
    environment:
      APP_URL: http://localhost:4001
      ADMIN_NAME: 'Admin'
      ADMIN_API_KEY: 'secure_12345'
    ports:
      - 4000:4000
