@import 'notyf/notyf.min.css';

@import "tailwindcss";

@source "../components";
@source "../layouts";
@source "../pages";

html {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.htmx-indicator {
  transition: opacity 100ms ease-in !important;
}

.animate-loading-bar {
  animation: loading 2s linear infinite;
}

button {
  @apply cursor-pointer;
}

@keyframes loading {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
