@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.htmx-indicator {
  transition: opacity 100ms ease-in !important;
}

.animate-loading-bar {
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
