@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Light';
  src: url('./assets/fonts/Gotham-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Gotham Light', sans-serif;
}
