name: e2e tests
on:
  pull_request:
    branches: [master]
env:
  YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
  YOUTUBE_API_SEARCH_URL: https://www.googleapis.com/youtube/v3/search
  DEEZER_API_URL: https://api.deezer.com/search
  YOUTUBE_BASE_URL: https://www.youtube.com
  APPLE_MUSIC_BASE_URL: https://music.apple.com/search?term=
  TIDAL_BASE_URL: https://listen.tidal.com/search?q=
  SOUNDCLOUD_BASE_URL: https://soundcloud.com/search/sounds?q=
  REDIS_URL: redis://localhost:6379
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7.0-alpine
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn install
      - name: Install Playwright Browsers
        run: npx playwright install --with-chromium
      - name: Run Playwright tests
        run: yarn e2e
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
