name: Run tests

on:
  pull_request:
    branches: [master]

concurrency:
  group: tests
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Load environment variables
        run: |
          while read -r line; do
            # skip empty and comment lines
            if [ -n "$line" ] && [ "${line:0:1}" != "#" ]; then
              echo "$line" >> $GITHUB_ENV
            fi
          done < .env.test
      - uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install
      - name: Run integration tests
        run: bun run test:ci
